body{

background:#121212;

color:white;

font-family:Poppins,sans-serif;

padding:30px;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



h1,h2{

color:#c89b3c;

}



a{

background:#c89b3c;

color:#111;

padding:10px 15px;

border-radius:10px;

text-decoration:none;

}



section{

background:#1d1d1d;

padding:25px;

border-radius:15px;

margin-bottom:25px;

}



input,
select,
button{

width:100%;

padding:15px;

margin-top:10px;

border-radius:10px;

border:none;

}



button{

background:#c89b3c;

font-weight:bold;

cursor:pointer;

}



.userCard{

background:#292929;

padding:20px;

border-radius:10px;

margin-top:15px;

display:flex;

justify-content:space-between;

}



.delete{

background:#a93232;

color:white;

padding:8px;

border-radius:8px;

}
